@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Light.woff2') format('woff2'),
         url('../fonts/Stolzl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Thin.woff2') format('woff2'),
         url('../fonts/Stolzl-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Book.woff2') format('woff2'),
         url('../fonts/Stolzl-Book.woff') format('woff');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Regular.woff2') format('woff2'),
         url('../fonts/Stolzl-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Bold.woff2') format('woff2'),
         url('../fonts/Stolzl-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-weight: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Medium.woff2') format('woff2'),
        url('../fonts/Stolzl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font: inherit;
}

p {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    color: #fff;
    font-family: 'Stolzl';
    font-size: 10px;
    line-height: 15px;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
    z-index: 4;
    position: relative;
}

.blur {
    filter: blur(10px);
}

.btn {
    display: block;
    position: relative;
    background-image: linear-gradient(to top, #EAA001,#FEDB8F);
    transition: transform .2s;
    box-shadow:  0px 5px 2px 0px #8A6104;
    color: rgb(46, 41, 41);
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
}

.btn:hover {
    transform: translateY(5px);
}

.btn span {
    position: absolute;
    height: 120%;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.61);
    left: 0;
    top: -5px;
    animation: 5s blick ease-out infinite;
    transform: rotate(15deg);
}

@keyframes blick {
    0% {
        left: 0;
    }

    25% {
        left: 120%;
    }

    100% {
        left: 120%;
    }
}

.header {
    position: absolute;
    width: 100%;
    z-index: 5;
    transition: all 1s;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.header__btn {
    padding: 15px 45px 15px 25px;
    border-radius: 25px /50%;
    line-height: 1;
}

.header__text {
    /* font-size: 15px;
    line-height: 20px; */
    font-size: calc(10px + (5 + 5 * 0.7) * ((100vw - 320px) / 1430));
    line-height: calc(10px + (10 + 10 * 0.7) * ((100vw - 320px) / 1430));
    margin-left: 38px;
}

.header__btn::before {
    content: "";
    height: 19px;
    width: 18px;
    background-image: url(../images/whatsup.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 20px;
    top: 48%;
    transform: translateY(-50%);
}

.main {
    background-image: url(../images/main-bg.jpg);
    min-height: 600px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    transition: filter 1s;
}

.main::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background-image: linear-gradient(to right, #000 , rgba(0,0,0,.9), #000);
}

.main__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.main__title {
    font-weight: 700;
    /* font-size: 40px; */
    /* line-height: 50px; */
    font-size: calc(10px + (30 + 30 * 0.7) * ((100vw - 320px) / 1430));
    line-height: calc(20px + (30 + 30 * 0.7) * ((100vw - 320px) / 1430));
    text-align: center;
}

.main__subtitle {
    font-weight: 350;
    /* font-size: 30px;
    line-height: 40px; */
    font-size: calc(10px + (20 + 20 * 0.7) * ((100vw - 320px) / 1430));
    line-height: calc(10px + (30 + 30 * 0.7) * ((100vw - 320px) / 1430));;
    text-align: center;
    margin-bottom: 3vh;
}

.main__form {
    text-align: center;
}

.main__form--accent {
    animation: .1s animate linear;
    animation-iteration-count: 1;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.main__form-list {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding-left: 0;
    margin: 0;
}

.main__form-item {
    position: relative;
    cursor: pointer;
    margin: 0 5px;
}

.main__form-info {
    position: absolute;
    bottom: -51px;
    left: 50%;
    background-color: #fff;
    color: rgb(46, 41, 41);
    display: none;
    width: 300px;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 2;
    border-radius: 8px;
}

.main__form-info::before {
    content: url(../images/triangle.svg);
    position: absolute;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
}

.main__form-item:hover .main__form-info{
    display: block; 
}

.main__form-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 2vh;
}

.main__form-name {
    font-weight: 300;
    margin: 20px 0 10px;
    font-size: 14px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 1vh auto 2vh;
}

.form input {
    margin-bottom: 10px;
    line-height: 28px;
    padding: 5px 10px;
    font-family: 'Stolzl';
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;

}

.form input::placeholder {
    text-align: center;
}

.main__form-btn {
    padding: 25px 31px 23px;
    border-radius: 35px / 50%;
    font-size: 22px;
}



.main__video {
    width: 35vw;
    position: relative;
    
}

.main__video img {
    border-radius: 10px;
}
/* linear-gradient(to top, #EAA001,#FEDB8F) */
.main__video-btn {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 50%;
    z-index: 2;
    display: block;
    transform: translate(-50%,50%);
    background-color: rgb(5, 9, 63);
    font-weight: 500;
    /* font-size: 20px; */
    font-size: calc(8px + (12 + 12 * 0.7) * ((100vw - 320px) / 1430));
    padding: 18px 85px 18px 25px;
    text-transform: uppercase;
    border-radius: 25px / 50%;
    color: #fff;
}

.main__video-btn::before {
    content: "";
    position: absolute;
    background-image: url(../images/video-icon.svg);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}


.modal {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 1s;
}

.modal--active {
    left: 0;
}

.modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}


.modal__inner {
    z-index: 1;
    position: relative;
}

.modal__inner iframe {
    border-radius: 5px 0 5px 5px;
}

.close-btn {
    position: absolute;
    color: #000;
    background-color: rgba(255, 255, 255, 0.26);
    top: 0px;
    right: 0px;
    padding: 10px;
    display: block;
    transform: translateY(-100%);
    border-radius: 3px 3px 0 0;
    transition: background-color .3s;
    text-transform: uppercase;
    font-weight: 700;
}

.close-btn:hover {
    background-color: rgba(255, 255, 255, 1);
}