@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Light.woff2') format('woff2'),
        url('../fonts/Stolzl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Thin.woff2') format('woff2'),
        url('../fonts/Stolzl-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Book.woff2') format('woff2'),
        url('../fonts/Stolzl-Book.woff') format('woff');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Regular.woff2') format('woff2'),
        url('../fonts/Stolzl-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Bold.woff2') format('woff2'),
        url('../fonts/Stolzl-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-weight: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../fonts/Stolzl-Medium.woff2') format('woff2'),
        url('../fonts/Stolzl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #D9E0F4;
    color: #1F6BD8;
}

body {
    font-family: 'Stolzl', sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 350;
    color: #000000;
    overflow-x: hidden;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    color: #fff;
    background-image: linear-gradient(90deg, #184E9C -0.01%, #1F6BD8 85%);
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0px 37px 30px -22px #2C3584;
}

.phone {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
    position: relative;
}

.phone-pre {
    font-weight: 400;
}


.phone-order {
    font-size: 14px;
    line-height: 17px;
    font-weight: 350;
    position: absolute;
    left: 0;
    bottom: -23px;
    display: inline-block;
    width: 100%;
}

.pre-title {
    font-size: 14px;
    line-height: 17px;
    color: #9EA1BA;
    text-transform: uppercase;
    font-weight: 400;
}

.title {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 400;
}

.pre-text {
    font-size: 15px;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.6);
}

.header {
    background-color: #D9E0F4;
    height: 100vh;
}

.header-container {
    height: 100vh;
    background-image: url(../images/header-bg1.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.header-top__inner {
    display: flex;
    align-items: flex-end;
    padding-top: 18px;

}

.menu__list {
    padding-left: 92px;
    margin: 0;
}


.menu__item {
    display: inline-block;
    padding: 4px 9px;
    margin: 0 17px;
    transition: background-color .5s;
    border-radius: 8px;
}

.menu__item:hover {
    background-color: rgba(158, 161, 186, 0.4);
}

.header__phone .phone-pre {
    color: #2C3584;
}

.header__phone .phone-order {
    text-align: center;
}

.header-bottom {
    padding-top: 111px;
}

.header__title {
    font-size: 35px;
    line-height: 1.5;
    font-weight: 400;
    max-width: 590px;
}

.header__subtitle {
    font-size: 18px;
    line-height: 1.7;
    margin-top: 31px;
    max-width: 509px;
}

.header__btn {
    margin-top: 61px;
    padding: 21px 49px;
}

.systems {
    padding: 80px 0 60px;
}


.systems__items {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.systems__item {
    margin-bottom: 20px;
    padding: 45px 28px 0 45px;
    border-radius: 8px;
    min-height: 280px;
}

.systems__item:nth-child(1) {
    background-image: url(../images/light.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.systems__item:nth-child(2) {
    background-image: url(../images/conditioner.svg);
    background-repeat: no-repeat;
    background-position: bottom 30px right 37px;
}

.systems__item:nth-child(3) {
    background: url(../images/house.svg) no-repeat bottom 36px right 36px, linear-gradient(90deg, #184E9C -0.01%, #1F6BD8 85%);
}

.systems__item:nth-child(4) {
    background-image: url(../images/venti.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.systems__item:nth-child(4) .systems__list {
    max-width: 380px;
}

.systems__item:nth-child(5) {
    background-image: url(../images/shestirinka.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.systems__item:nth-child(5) .systems__list {
    max-width: 285px;
}

.systems__item:nth-child(6) {
    background: linear-gradient(90deg, #184E9C -0.01%, #1F6BD8 85%);
    position: relative;
    overflow: hidden;
}

.systems__item--tcolor {
    color: #fff;
}

.systems__item-bgcolor {
    background-color: #D9E0F4;
}

.systems__item--small {
    max-width: 387px;
    width: 100%;
}

.systems__item--big {
    max-width: 793px;
    width: 100%;
}

.systems__item--border {
    border: 2px solid #D9E0F4;
    border-top: none;
    border-radius: 0 0 8px 8px;
    position: relative;
}

.systems__item--border::before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 5px;
    left: -2px;
    top: 0;
    background-image: linear-gradient(90deg, #184E9C -0.01%, #1C60C2 85%);
    border-radius: 8px;
}


.systems__item-title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

.systems__list {
    margin-top: 20px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 1.7;
    list-style: disc;
    color: rgba(0, 0, 0, 0.6);
}

.systems__list-item {
    margin-bottom: 14px;
}

.systems__item-text {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 21px;
    max-width: 285px;
    z-index: 5;
    position: relative;
}

.systems__phone {
    position: absolute;
    height: 104px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 26px;
    bottom: 15px;
    border-radius: 50%;
    background-color: #1B57AC;
    box-shadow: 0 0 0 22px rgba(25, 87, 180, 0.67);
    cursor: pointer;
    animation: an-phone 1s infinite linear;
}

@keyframes an-phone {
    0% {
        box-shadow: 0 0 0 0px rgba(25, 87, 180, 0.67);
        transform: rotate(0deg);
    }

    50% {
        box-shadow: 0 0 0 22px rgba(25, 87, 180, 0.67);
        transform: rotate(5deg);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(25, 87, 180, 0.67);
        transform: rotate(0deg);
    }
}






.sys-slider {
    padding-bottom: 80px;
    overflow-x: hidden;
}

.sys-slider__pre-title {
    margin-bottom: 16px;
}

.sys-slider__title {
    margin-bottom: 30px;
}

.sys-slider__pre-text {
    margin-bottom: 71px;
    max-width: 506px;
}

.slider-container {
    max-width: calc(100% - 40px);
    position: relative;
}

.sys-slider__line {
    width: calc(100% + 300px);
    height: 0px;
    border-bottom: 2px dashed #E5E5E5;
    position: absolute;
    bottom: 54px;
    left: 0;
}

.sys-slider__line::before {
    content: "";
    position: absolute;
    height: 0px;
    border-bottom: 2px dashed #E5E5E5;
    width: 1000px;
    top: 0;
    left: 0;
    z-index: 10;
    transform: translateX(-1000px);
}

.swiper-container {
    overflow: visible !important;
    position: relative;
}


.swiper-container::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1000px;
    transform: translateX(-1000px);
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 5;
}



.sys-slider__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #D9E0F4;
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
}

.sys-slider__circle::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(90deg, #184E9C -0.01%, #1F6BD8 85%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 1;
}

.swiper-slide-duplicate-prev .sys-slider__circle::before {
    background-image: none;
    background-color: #D9E0F4;
}

.swiper-slide-duplicate-prev .sys-slider__descr {
    color: rgba(0, 0, 0, 0.2);
}

.swiper-slide--accent .sys-slider__circle {
    height: 40px;
    width: 40px;
    border: none;
    background-image: linear-gradient(90deg, #184E9C -0.01%, #1F6BD8 85%);
}


/*не получается удалить wiper-slide--accent при перезагрузке свайпера */
.swiper-slide-duplicate-prev.swiper-slide--accent .sys-slider__circle {
    background-color: #fff;
    border: 2px solid #D9E0F4;
    background-image: none;
}


.swiper-slide--accent .sys-slider__circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 36px;
    width: 36px;
    background-color: #fff;
    border-radius: 50%;
}












.info {
    padding: 80px 0;
    background-color: rgba(217, 224, 244, 0.5);
}

.info__inner {
    background-image: url(../images/info-bg.svg);
    background-repeat: no-repeat;
    background-position: top 30px right;
}

.info__title {
    margin-top: 17px;
    max-width: 748px;
}

.info__pre-text {
    margin-top: 31px;
    max-width: 526px;
}

.info__btn {
    margin-top: 50px;
    padding: 21px 59px 21px 39px;
}

.info__items {
    margin-top: 92px;
    display: flex;
    justify-content: space-between;
}

.info__item {
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    max-width: 387px;
    min-height: 276px;
    padding: 34px 20px;
}

.info__item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.info__item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
}

/* Может слетать на браузерах которые не подерживают клип свойства */
.info__item-number {
    font-weight: 400;
    font-size: 73px;
    line-height: 1.5;
    background-image: linear-gradient(90deg, #184E9C -0.01%, #1F6BD8 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info__item-text {
    font-size: 15px;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.6);
}


.parthers {
    padding: 71px 0 80px;
    border-bottom: 2px solid #D9E0F4;
}

.parthers__pre-title {
    margin-bottom: 16px;
}

.parthers__title {
    margin-bottom: 47px;
}












.contacts {
    padding: 80px 0;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
}

.contacts__info {
    min-width: 400px;
}


.contacts__phone {
    font-size: 24px;
    line-height: 29px;
    margin-top: 17px;
    display: inline-block;
}

.contacts__email {
    display: inline-block;
    margin-top: 14px;
    font-size: 16px;
    line-height: 19px;
    background-image: linear-gradient(90deg, #184E9C -0.01%, #1F6BD8 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contacts__adress-title {
    font-size: 14px;
    line-height: 17px;
    color: #9EA1BA;
    margin-top: 30px;
}

.contacts__adress {
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
}

.contacts__info-link {
    display: inline-block;
    margin-top: 12px;
    background-image: linear-gradient(90deg, #184E9C -0.01%, #1F6BD8 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contacts__map {}







.contacts__form {
    border: 2px solid #E5E5E5;
    padding: 40px 37px 40px 45px;
    border-radius: 8px;
    max-width: 693px;
}




















.footer {

    padding-top: 57px;
    background-color: #2A2B2F;
}







.footer-bottom {
    margin-top: 58px;
    border-top: 1px solid rgba(217, 224, 244, 0.1);
    padding: 35px 0 48px;
}

.footer-bottom__inner {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
}

.footer-bottom__copy {
    color: #D9E0F4;
}

.footer-bottom__privacy {
    color: rgba(217, 224, 244, 0.5);
}